{{ if lookPath "alacritty" -}}
{{- $alacrittyFontSize := promptIntOnce . "alacritty.fontSize" "What font size do you want to use in alacritty" 7 -}}
[data.alacritty]
    fontSize = {{ $alacrittyFontSize }}
{{- end }}
